html {
  height: 100%;
}

body {
  height: 100%;
  min-width: 998px;
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

#__next {
  height: 100%;
}