html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  min-width: 360px;
  background-color: #1d1d1d;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

#__next {
  height: 100%;
}